<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/NguoiDungcssLayout/fonts.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungcssLayout/screen.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungcssLayout/NguoiDungCssLayout.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free-6.7.1-web/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free-6.7.1-web/css/solid.css" rel="stylesheet" />

</head>
<body>

    <div id="ToanTrang">
        <section class="blank">
            <div class="flash">
                <div class="icDienThoai">
                    <i class="fa-solid fa-phone"></i>
                    (08)6464232
                </div>
                @*TAo Dki Dnhap*@
            <div class="DangKyDangNhap">
                <i class="fa-solid fa-right-to-bracket"></i>
                <a class="nav-link" href="@Url.Action("Logout", "Admin")">Logout</a>
            </div>

            </div>

            <div class="flash success" id="divDanhMuc">
                <div id="txtTimKiem">
                    @using (Html.BeginForm())
                    {
                        @Html.TextBox("txtTimKiem", "", htmlAttributes: new { @class = "textBoxTimKiem", @placeholder = "Nhập vào từ khóa cần tìm..." });
                        <div id="divHinhAnhTimKiem">
                            <button type="submit">
                                <img src="~/images/searchimage.jpg" />
                            </button>
                        </div>
                    }
                </div>
                <ul class="navMenu">
                    <li>

                        @Html.ActionLink("Trang chủ", "Index", "NguoiDung", null, new { @class = "nav-link" })
                    </li>
                    <li>                       
                        @Html.Action("GiohangPartial", "GioHang")                                          
                    </li>
                    <li>
                        <a href="#"> Liên hệ</a>
                    </li>
                    <li>
                        <a href="#"> Hướng dẫn</a>
                    </li>
                    <li>
                        @Html.ActionLink("Xe máy", "Index", "QuanLyXe", null, new { @class = "nav-link" })
                    </li>

                </ul>
            </div>
        </section>

        <section>
            <div class="main-layout">
                <div class="activity">
                    <h1 class="item-header">Các Loại Xe</h1>
                    @Html.Action("LoaiXe", "QuanLyXe")
                    
                    <h1 class="item-header">Các Nhà Phân Phối</h1>
                    @Html.Action("NhaPhanPhoi", "QuanLyXe")
                </div>
                
                <div class="content-body">
                    @RenderBody()
                </div>
            </div>

        </section>
        
</body>
</html>
